---
// Import the layout and components
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";

import ImageCard from "../components/imageCard.astro"
const name = "monika";
---

<MainLayout title="Welcome to My Website">
	<h1>Monika Singh Website</h1>
	<p>A simple website built with Astro</p>

	<!-- Example of using a component with props -->
	<Button text="No Learn More" />

	<h2>Features</h2>

	<ImageCard link="https://png.pngtree.com/thumb_back/fh260/background/20240522/pngtree-abstract-cloudy-background-beautiful-natural-streaks-of-sky-and-clouds-red-image_15684333.jpg"
	caption="Sky is beautiful"
	height="500"/>

	<!-- Example of using another component with props -->
	<Card title="Simple Design" content="Clean and minimal design that's easy to understand." />
	<Card title="Easy to Edit" content="Change text, colors, and layout with simple code." />
	<Card title="Learn by Doing" content="Every file has helpful comments to guide you." />

<Button text="No More Scroll" />

<ImageCard link="https://png.pngtree.com/thumb_back/fh260/background/20240522/pngtree-abstract-cloudy-background-beautiful-natural-streaks-of-sky-and-clouds-red-image_15684333.jpg"
	caption="Sky is beautiful"
	height="500"/>


</Layout>
